In [2]:
import random
import string
import os
import pandas as pd
import json
from datetime import datetime, timedelta

from faker import Faker
from groq import Groq
from dotenv import load_dotenv
load_dotenv()

True

In [15]:
GROQ_API_KEY = os.getenv("GROQ_API_KEY")

In [25]:
def generate_data(number_of_rows=1000, time_period='365 days', **tables):
    """
    Generates data for the given tables and columns, ensuring foreign key relationships are maintained.

    Parameters:
        number_of_rows (int): Number of rows to generate for each table.
        time_period (str): Time period for generating time-based data.
        **tables (dict): Dictionary where keys are table names and values are column definitions.

    Returns:
        dict: A dictionary containing DataFrames for each table.
    """
    client = Groq(api_key=GROQ_API_KEY)

    # Construct the schema and prompt
    table_schemas = {table_name: column_definitions for table_name, column_definitions in tables.items()}
    prompt = f"""
    Below is the schema for all the tables with columns, data types, and constraints:

    {table_schemas}

    I want to generate {number_of_rows} rows of data for each table over a period of {time_period}.
    The data should adhere to the specified data types and constraints, ensuring that:
    - Primary keys are unique.
    - Foreign keys reference the appropriate primary keys in related tables.
    - The data is realistic and cohesive across all tables.

    Please return the generated data in a JSON format suitable for loading into pandas DataFrames.
    """

    try:
        # Query the Groq API
        response = client.chat.completions.create(
            messages=[
                {"role": "user", "content": prompt}
            ],
            model="mixtral-8x7b-32768"
        )

        # Access the response content
        response_text = response.choices[0].message.content.strip()

        # Parse the JSON response
        try:
            generated_data = json.loads(response_text)  # Safely parse the JSON
        except json.JSONDecodeError as decode_error:
            print(f"Failed to decode JSON response: {decode_error}")
            print(f"Response text was:\n{response_text}")
            return None

        # Convert the parsed data into DataFrames
        dataframes = {table_name: pd.DataFrame(rows) for table_name, rows in generated_data.items()}

        return dataframes

    except Exception as e:
        print(f"An error occurred while generating the data: {e}")
        return None

In [3]:
file_path = "D:\\Airflow\\dataset\\Users_Data.csv"  # Corrected path with raw string


with open(file_path, 'r') as file:
    data = file.read()
print(f"File content:\n{data}")

File content:
id,name,registration_date,email
1,Max Tucker,2024-06-05,lisa.knight@outlook.com
2,Richard Howe,2024-01-02,angela.benton@gmail.com
3,Angela Moore,2024-01-10,austin.rodriguez@hotmail.com
4,Alexandra Adams,2024-06-08,michael.hardin@hotmail.com
5,John Johnson,2024-03-22,amanda.cooper@outlook.com
6,Michael Buck,2024-02-20,christian.rich@hotmail.com
7,Angela Young,2024-02-14,david.jackson@outlook.com
8,Anthony Smith,2024-05-26,denise.smith@gmail.com
9,Jacob Davenport,2024-03-22,bradley.day@hotmail.com
10,Deborah Williams,2024-06-09,tina.ibarra@hotmail.com
11,Mark Knight,2024-05-23,john.frazier@gmail.com
12,Bruce Reilly,2024-05-05,brian.long@outlook.com
13,Jenny Martinez,2024-02-09,kayla.west@yahoo.com
14,Kevin Hicks,2024-04-16,anthony.gray@yahoo.com
15,Allen Beasley,2024-05-16,denise.rodriguez@gmail.com
16,Nicholas Moore,2024-01-13,brett.lynch@yahoo.com
17,Luke Davis,2024-04-06,natalie.howe@hotmail.com
18,Scott Yoder,2024-02-22,ashley.stevens@hotmail.com
19,Nicholas Chambers,2024-05-17,deanna.walker@outlook.com
20,Jeffrey Ramsey,2024-03-16,erik.steele@yahoo.com
21,Kevin Khan,2024-02-28,alexander.barry@yahoo.com
22,Carl Carey,2024-01-05,curtis.moore@yahoo.com
23,Anna Nelson,2023-12-27,william.campbell@outlook.com
24,Sean Carr,2024-06-09,adam.moore@yahoo.com
25,Andrew Cowan,2024-06-17,sandra.hill@outlook.com
26,Geoffrey Castro,2024-03-16,shelly.graham@hotmail.com
27,Margaret Jackson,2024-06-09,olivia.roy@hotmail.com
28,Anne Blackburn,2024-02-03,michael.peck@outlook.com
29,Nathan Wang,2024-06-09,rebecca.petty@yahoo.com
30,Angela Sharp,2024-04-08,adam.wilson@outlook.com
31,Paul Cardenas,2024-02-28,barry.wilson@gmail.com
32,Jessica Massey,2024-02-13,william.estrada@yahoo.com
33,Alexa Lopez,2024-03-04,lisa.ramirez@yahoo.com
34,Stephen Jones,2024-01-20,joseph.nash@yahoo.com
35,Aaron Hernandez,2024-02-26,jermaine.holland@yahoo.com
36,John Martin,2024-03-19,courtney.kennedy@yahoo.com
37,David Murray,2024-02-13,judy.williams@gmail.com
38,Mark Boyd,2024-01-13,jacob.browning@yahoo.com
39,Melissa Murphy,2024-03-21,raymond.robles@outlook.com
40,Amy Collins,2024-03-31,hayley.bell@yahoo.com
41,Natasha Johnson,2024-06-01,brent.montgomery@yahoo.com
42,Regina Martinez,2024-05-24,norma.patrick@hotmail.com
43,Michelle Carlson,2024-04-28,lee.moss@yahoo.com
44,Angela Walter,2024-05-12,courtney.morton@outlook.com
45,Mitchell Moody,2024-02-08,nathaniel.deleon@hotmail.com
46,Jennifer Hodges,2024-05-14,miguel.fox@gmail.com
47,Tanya Lewis,2024-02-13,sarah.lee@hotmail.com
48,James Fisher,2024-06-07,blake.roberts@gmail.com
49,Kristy Gardner,2024-02-26,ronald.lam@outlook.com
50,Donna Lewis,2024-02-29,christopher.fritz@yahoo.com
51,Rachel Lowe,2024-01-11,justin.hicks@gmail.com
52,Susan Mcintyre,2024-03-11,tammy.monroe@outlook.com
53,Robert Orozco,2024-05-24,madison.smith@yahoo.com
54,Curtis Hughes,2024-01-28,kristin.martinez@gmail.com
55,Matthew Compton,2024-06-01,curtis.harrison@hotmail.com
56,Christine Davis,2024-04-30,paul.daniels@outlook.com
57,James Rivera,2024-02-26,tracey.sawyer@hotmail.com
58,Kristen Nunez,2024-03-02,angela.wright@hotmail.com
59,Melissa Parker,2024-03-09,edwin.williamson@gmail.com
60,Samuel Mcintosh Jr.,2024-06-21,allen.patton@yahoo.com
61,Brandon Guerra,2024-01-19,patrick.anderson@hotmail.com
62,Linda Farmer,2024-02-17,sierra.vargas@outlook.com
63,Ryan Rosario,2024-04-20,amy.andrade@outlook.com
64,Timothy Oconnor,2024-03-21,alexis.garcia@hotmail.com
65,Chelsea Mathis,2024-02-18,jillian.wilson@yahoo.com
66,Alejandro Jenkins,2024-06-09,christopher.gibson@hotmail.com
67,Andrea Adams,2024-03-14,veronica.blair@yahoo.com
68,Julie Freeman,2024-03-18,christopher.escobar@gmail.com
69,Melissa Hampton,2024-03-27,rebecca.mccoy@gmail.com
70,Benjamin Mitchell,2024-01-19,adriana.wilson@hotmail.com
71,Dakota Walker,2024-03-21,christopher.frye@yahoo.com
72,Justin Ball,2024-01-14,patricia.avila@hotmail.com
73,Daryl Blackwell,2024-05-05,margaret.burton@hotmail.com
74,Shannon Morris,2024-04-22,jacob.phillips@gmail.com
75,James Williams,2023-12-27,jill.campbell@hotmail.com
76,Sean Anderson,2024-04-13,michael.meyer@outlook.com
77,Alisha Marshall,2024-06-09,lindsey.haynes@gmail.com
78,Kristina Benitez,2024-05-25,william.hanna@gmail.com
79,Max Adkins,2024-01-19,melanie.lopez@gmail.com
80,Gary Smith,2024-01-17,bailey.thornton@outlook.com
81,Ethan Owen,2024-02-28,amy.willis@hotmail.com
82,Leslie Baker,2024-05-03,maria.fry@outlook.com
83,Dawn Schroeder,2024-03-10,deborah.powers@yahoo.com
84,Caitlyn Baker,2024-02-25,paige.craig@hotmail.com
85,Cassandra King,2024-01-05,marissa.melendez@outlook.com
86,Erik Jordan,2024-04-02,vanessa.alvarado@gmail.com
87,Jodi Booth,2024-04-07,alexander.clark@hotmail.com
88,Dalton Hull,2024-04-10,robert.hutchinson@outlook.com
89,Amanda Hill,2024-04-30,taylor.klein@outlook.com
90,Matthew Jenkins,2024-05-30,edward.king@hotmail.com
91,Kristen Lane,2024-05-06,mike.hampton@yahoo.com
92,Noah Sanchez,2024-02-23,richard.williams@outlook.com
93,Jessica Ayers,2024-01-03,maria.galvan@outlook.com
94,Daisy Thomas,2024-02-22,brenda.mason@outlook.com
95,Joanne Diaz,2024-05-25,tina.gonzalez@hotmail.com
96,Jacqueline Wells,2024-06-01,linda.stokes@outlook.com
97,Denise Collins,2024-04-06,jason.spencer@hotmail.com
98,Jeffery Sanchez,2024-04-17,valerie.young@gmail.com
99,Karen Lawrence,2024-03-28,mary.gordon@outlook.com
100,Amy Brown,2024-06-20,kim.lee@outlook.com
101,Mr. Brian Harris,2024-04-16,tracy.reynolds@outlook.com
102,Aaron Washington,2024-04-09,haley.moore@gmail.com
103,Ashley Franklin,2024-06-19,monique.meadows@outlook.com
104,John Rodgers,2024-01-20,juan.gray@yahoo.com
105,Michele Gonzales,2024-06-20,kevin.stewart@gmail.com
106,Julie Cox,2024-01-23,michael.luna@yahoo.com
107,Rita Leon,2024-05-04,bruce.hernandez@hotmail.com
108,Michelle Morse,2024-06-10,daniel.nunez@gmail.com
109,Alan Beck,2024-03-16,michael.hernandez@gmail.com
110,Lauren Drake,2024-04-10,bryan.sweeney@outlook.com
111,Steven Bowman,2024-04-02,kelly.obrien@yahoo.com
112,Richard Alexander,2024-01-24,elizabeth.ramirez@gmail.com
113,Jesse Singh,2024-04-04,john.love@yahoo.com
114,David Perez,2024-04-07,sara.wood@outlook.com
115,Lisa Hartman,2024-02-26,sarah.sanders@yahoo.com
116,Amy Berg,2024-04-12,whitney.shaffer@outlook.com
117,Robert Frost,2024-03-14,michael.anderson@yahoo.com
118,Eddie Evans,2024-06-07,richard.garcia@gmail.com
119,Mr. James Olson,2024-02-24,shawn.burnett@yahoo.com
120,Miranda Shaw,2024-03-24,donna.barnes@gmail.com
121,Mark Wilson,2024-05-27,sharon.riley@yahoo.com
122,Rhonda Black,2024-01-17,mckenzie.ellis@outlook.com
123,Laura Palmer,2024-05-11,anthony.wilson@outlook.com
124,Ronald Allen,2024-02-12,victoria.duncan@outlook.com
125,Melissa Craig,2024-03-12,danny.kent@yahoo.com
126,Jordan Klein MD,2024-04-07,sharon.wilson@hotmail.com
127,Lisa Oliver,2024-01-09,robert.haney@yahoo.com
128,Gavin Bass,2024-05-08,amanda.anderson@outlook.com
129,Brittany Lopez,2024-04-14,richard.vargas@yahoo.com
130,Ashley Patel,2024-06-06,thomas.hoffman@outlook.com
131,Jeffrey Holloway,2024-01-14,joshua.vaughan@gmail.com
132,Kenneth Moore,2024-05-08,lauren.becker@gmail.com
133,Daniel Merritt,2024-01-29,reginald.jenkins@gmail.com
134,Samuel Young,2024-02-08,eric.rodriguez@yahoo.com
135,Sara Terrell,2024-03-17,dorothy.estrada@gmail.com
136,Susan Griffin,2024-04-20,lauren.wilcox@gmail.com
137,Michelle Cooper,2024-01-05,peter.cruz@hotmail.com
138,Alejandro Gutierrez,2024-04-06,rachel.martin@gmail.com
139,Thomas Wilson,2024-05-20,william.pratt@outlook.com
140,Mrs. Sara Floyd DVM,2024-06-16,leroy.rodriguez@hotmail.com
141,Kimberly Haynes,2024-03-18,tracy.juarez@gmail.com
142,Jamie Casey,2023-12-28,edward.hanna@hotmail.com
143,Benjamin Lee,2024-03-17,rachel.rodriguez@yahoo.com
144,Kimberly Glass,2024-02-21,scott.branch@yahoo.com
145,Mark Anderson,2024-02-07,ashley.jones@yahoo.com
146,Melody Johnson,2024-05-24,rachel.black@yahoo.com
147,Gordon Calderon,2024-01-05,zachary.greene@hotmail.com
148,Joshua Freeman,2024-02-12,chase.rose@gmail.com
149,Crystal Smith,2024-03-22,michele.hawkins@gmail.com
150,Robert Garcia,2024-06-08,philip.green@hotmail.com
151,Kimberly Gomez,2024-02-21,taylor.johnson@outlook.com
152,Pamela Dickson,2024-04-07,tina.diaz@yahoo.com
153,George Gilbert,2024-02-08,renee.kerr@hotmail.com
154,Wanda Fields,2024-03-25,stephanie.keller@gmail.com
155,Jackie Gould,2024-04-24,jane.long@yahoo.com
156,Susan May,2024-05-01,sharon.wilson@hotmail.com
157,Kristopher Hernandez DVM,2024-03-10,caitlin.owens@outlook.com
158,Donald Brooks,2024-05-18,whitney.thomas@gmail.com
159,Christine Yoder,2024-06-11,robert.graham@yahoo.com
160,Jennifer King,2024-06-04,angela.wise@hotmail.com
161,Jill Nguyen,2024-02-01,ashley.white@yahoo.com
162,Kelly Krueger,2024-06-18,rebecca.peterson@outlook.com
163,Jeremy Gordon,2023-12-29,melissa.cardenas@gmail.com
164,Leslie Ruiz,2024-06-13,melissa.gray@outlook.com
165,Jonathan Bailey,2024-03-13,sharon.brady@gmail.com
166,Melissa Navarro,2024-04-24,maria.oneill@hotmail.com
167,Kimberly Carney,2024-03-25,steven.mcpherson@yahoo.com
168,Heather Fernandez,2024-05-02,charles.williamson@hotmail.com
169,Fernando Patterson,2024-03-19,christy.murphy@yahoo.com
170,Rhonda Mueller,2024-05-07,megan.strickland@hotmail.com
171,Daniel Clark,2024-03-03,jared.hull@hotmail.com
172,Karen Barnes,2024-03-06,tony.rodriguez@gmail.com
173,Becky Snyder,2024-02-28,cynthia.frey@yahoo.com
174,Brett Wilson,2024-01-18,deanna.barr@gmail.com
175,Dr. Eileen Villegas,2024-01-01,andrea.robinson@hotmail.com
176,Kimberly Bennett,2024-06-08,dana.foster@hotmail.com
177,Nicholas Vaughn,2024-02-21,randall.garcia@yahoo.com
178,Alicia Smith,2024-02-05,jason.holden@gmail.com
179,Lori Lewis,2024-04-07,edward.smith@yahoo.com
180,Shawn Brown,2024-03-01,pamela.hernandez@gmail.com
181,Nicholas Evans,2024-06-21,andrew.lara@hotmail.com
182,Jennifer Walker,2024-03-07,brandon.white@gmail.com
183,Jerry Gates,2024-04-24,jennifer.santiago@hotmail.com
184,Alexandra Roberts,2024-03-06,christine.bailey@hotmail.com
185,Jessica Carpenter,2024-03-10,sharon.ross@outlook.com
186,Gina Russell,2024-06-18,catherine.douglas@gmail.com
187,Tanya Holland,2024-02-22,laura.smith@gmail.com
188,Bobby Davis,2024-06-24,sharon.ruiz@outlook.com
189,Nicholas Miller,2024-06-09,craig.carter@yahoo.com
190,Ryan Beck,2024-02-19,nathaniel.price@yahoo.com
191,Michael Ritter,2024-01-20,alyssa.miller@yahoo.com
192,Michael Miller,2024-04-28,ashley.coleman@gmail.com
193,Anna Thomas,2024-05-31,samantha.graham@gmail.com
194,Chad Jones,2024-02-03,adam.barnes@yahoo.com
195,Jesse Fisher,2024-03-22,wendy.thomas@gmail.com
196,Sean West,2024-03-16,isaac.hernandez@outlook.com
197,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com
198,Carl Best,2024-03-11,dylan.nunez@hotmail.com
199,Amy Anderson,2024-05-14,lisa.harding@outlook.com
200,Nancy Harris,2024-01-21,jennifer.bentley@gmail.com

In [26]:
tables_info = {
        "Users": [
            {"id": "INT (PRIMARY KEY)"},
            {"name": "STRING"},
            {"email": "STRING"},
            {"registration_date": "DATE"}
        ],
        "Transactions": [
            {"id": "INT (PRIMARY KEY)"},
            {"user_id": "INT (FOREIGN KEY to Users.id)"},
            {"transaction_date": "DATE"},
            {"amount": "FLOAT"},
            {"type": "STRING (values: 'deposit', 'withdrawal')"}
        ],
        "UserPreferences": [
            {"id": "INT (PRIMARY KEY)"},
            {"user_id": "INT (FOREIGN KEY to Users.id)"},
            {"preferred_language": "STRING"},
            {"notifications_enabled": "BOOLEAN"},
            {"marketing_opt_in": "BOOLEAN"},
            {"created_at": "TIMESTAMP"},
            {"updated_at": "TIMESTAMP"}
        ]
    }

In [27]:
dataframes = generate_data(number_of_rows=1000, time_period='365 days', **tables_info)

if dataframes:
    for table_name, df in dataframes.items():
        print(f"Table: {table_name}")
        print(df.head())
        print("\n")

Failed to decode JSON response: Expecting value: line 1 column 1 (char 0)
Response text was:
Due to the limitations of this platform, I can't generate 1000 rows of data here. However, I will provide you with a Python script that generates the data according to your specifications. You can run this script locally to generate the required data.

```python
import random
import string
import datetime
import pandas as pd

def generate_users(num_users):
    users = []
    for i in range(num_users):
        registration_date = (datetime.date.today() - datetime.timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')
        users.append({
            'id': i,
            'name': ''.join(random.choices(string.ascii_lowercase, k=10)),
            'email': f'user{i}@example.com',
            'registration_date': registration_date
        })
    return users

def generate_transactions(num_transactions, users):
    transactions = []
    for i in range(num_transactions):
        user_id = random.choice(list(range(len(users))))
        transaction_date = (datetime.date.today() - datetime.timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')
        amount = random.uniform(10, 1000)
        transaction_type = random.choice(['deposit', 'withdrawal'])
        transactions.append({
            'id': i,
            'user_id': user_id,
            'transaction_date': transaction_date,
            'amount': amount,
            'type': transaction_type
        })
    return transactions

def generate_preferences(num_preferences, users):
    preferences = []
    for i in range(num_preferences):
        user_id = random.choice(list(range(len(users))))
        preferred_language = random.choice(['en', 'es', 'fr'])
        notifications_enabled = random.choice([True, False])
        marketing_opt_in = random.choice([True, False])
        created_at = (datetime.date.today() - datetime.timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d %H:%M:%S')
        updated_at = (datetime.date.today() - datetime.timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d %H:%M:%S')
        preferences.append({
            'id': i,
            'user_id': user_id,
            'preferred_language': preferred_language,
            'notifications_enabled': notifications_enabled,
            'marketing_opt_in': marketing_opt_in,
            'created_at': created_at,
            'updated_at': updated_at
        })
    return preferences

num_users = 1000
num_transactions = 1000
num_preferences = 1000

users = generate_users(num_users)
transactions = generate_transactions(num_transactions, users)
preferences = generate_preferences(num_preferences, users)

User_data = pd.DataFrame(users)
Transaction_data = pd.DataFrame(transactions)
Preference_data = pd.DataFrame(preferences)

data = {
    'Users': User_data,
    'Transactions': Transaction_data,
    'UserPreferences': Preference_data
}

print(data)
```

This script generates 1000 rows for each table and saves the data in a JSON format suitable for loading into pandas DataFrames. It also ensures that primary keys are unique and foreign keys reference the appropriate primary keys in related tables.

In [44]:
transactions_df = pd.read_csv('dataset/Transactions_Data.csv')  # Adjust the path if needed
users_df = pd.read_csv('dataset/Users_Data.csv')  # Adjust the path if needed
preferences_df = pd.read_csv('dataset/User_Preferences_Data.csv')  # Adjust the path if needed

In [45]:
preferences_df

,id,user_id,preferred_language,notifications_enabled,marketing_opt_in,created_at,updated_at
0,1,1,French,False,True,2024-03-08T12:06:41.222845,2024-12-21T12:06:41.224036
1,2,2,German,False,True,2024-01-04T12:06:41.222873,2024-12-21T12:06:41.224040
2,3,3,French,False,True,2024-03-11T12:06:41.222882,2024-12-21T12:06:41.224044
3,4,4,French,False,True,2024-02-20T12:06:41.222888,2024-12-21T12:06:41.224047
4,5,5,Spanish,True,True,2024-05-09T12:06:41.222894,2024-12-21T12:06:41.224050
...,...,...,...,...,...,...,...
195,196,196,Spanish,True,True,2024-05-24T12:06:41.224007,2024-12-21T12:06:41.224655
196,197,197,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
197,198,198,English,True,True,2024-04-06T12:06:41.224018,2024-12-21T12:06:41.224662
198,199,199,English,False,True,2024-05-19T12:06:41.224024,2024-12-21T12:06:41.224665
199,200,200,German,False,True,2024-01-12T12:06:41.224029,2024-12-21T12:06:41.224668

In [46]:
transactions_df

        id  user_id transaction_date  amount        type
0        1      197       2024-12-18  876.06  withdrawal
1        2      194       2024-07-15  946.08  withdrawal
2        3       79       2024-11-21   69.11  withdrawal
3        4       12       2024-11-18  672.48  withdrawal
4        5       43       2024-07-01  657.84  withdrawal
...    ...      ...              ...     ...         ...
2995  2996      152       2024-10-15   44.04  withdrawal
2996  2997       21       2024-12-11  595.66     deposit
2997  2998      165       2024-11-29  801.35     deposit
2998  2999      133       2024-08-22  890.64  withdrawal
2999  3000      180       2024-10-07  230.45  withdrawal

[3000 rows x 5 columns]

In [47]:
users_df

      id             name registration_date                         email
0      1       Max Tucker        2024-06-05       lisa.knight@outlook.com
1      2     Richard Howe        2024-01-02       angela.benton@gmail.com
2      3     Angela Moore        2024-01-10  austin.rodriguez@hotmail.com
3      4  Alexandra Adams        2024-06-08    michael.hardin@hotmail.com
4      5     John Johnson        2024-03-22     amanda.cooper@outlook.com
..   ...              ...               ...                           ...
195  196        Sean West        2024-03-16   isaac.hernandez@outlook.com
196  197    Tiffany Cooke        2024-06-12        pamela.chung@yahoo.com
197  198        Carl Best        2024-03-11       dylan.nunez@hotmail.com
198  199     Amy Anderson        2024-05-14      lisa.harding@outlook.com
199  200     Nancy Harris        2024-01-21    jennifer.bentley@gmail.com

[200 rows x 4 columns]

In [48]:
transactions_df.rename(columns={'id': 'transaction_id', 'amount': 'transaction_amount', 'type': 'transaction_type', }, inplace=True)
users_df.rename(columns={'id': 'user_id', 'name': 'user_name'}, inplace=True)
preferences_df.rename(columns={'id': 'preference_id', 'created_at': 'preference_created_at', 'updated_at': 'preference_updated_at'}, inplace=True)

In [49]:
combined_df = transactions_df.merge(users_df, left_on='user_id', right_on='user_id', how='inner')
combined_df = combined_df.merge(preferences_df, left_on='user_id', right_on='user_id', how='inner')
combined_df

,transaction_id,user_id,transaction_date,transaction_amount,transaction_type,user_name,registration_date,email,preference_id,preferred_language,notifications_enabled,marketing_opt_in,preference_created_at,preference_updated_at
0,1,197,2024-12-18,876.06,withdrawal,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,197,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
1,38,197,2024-12-17,153.34,deposit,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,197,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
2,76,197,2024-11-25,706.74,deposit,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,197,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
3,111,197,2024-10-08,840.22,withdrawal,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,197,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
4,217,197,2024-07-15,612.90,deposit,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,197,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2005,123,2024-11-29,55.07,withdrawal,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,123,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2996,2073,123,2024-10-15,951.18,deposit,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,123,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2997,2152,123,2024-12-10,659.31,deposit,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,123,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2998,2196,123,2024-10-09,959.09,deposit,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,123,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2999,2490,123,2024-10-11,510.94,deposit,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,123,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427

In [50]:
combined_df = combined_df[
        [
            'transaction_date', 'user_id', 'user_name', 
            'registration_date', 'email', 'transaction_amount', 'transaction_type', 
            'preferred_language', 'notifications_enabled', 
            'marketing_opt_in', 'preference_created_at', 'preference_updated_at'
        ]
    ]

In [51]:
combined_df

,transaction_date,user_id,user_name,registration_date,email,transaction_amount,transaction_type,preferred_language,notifications_enabled,marketing_opt_in,preference_created_at,preference_updated_at
0,2024-12-18,197,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,876.06,withdrawal,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
1,2024-12-17,197,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,153.34,deposit,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
2,2024-11-25,197,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,706.74,deposit,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
3,2024-10-08,197,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,840.22,withdrawal,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
4,2024-07-15,197,Tiffany Cooke,2024-06-12,pamela.chung@yahoo.com,612.90,deposit,English,True,False,2024-03-14T12:06:41.224013,2024-12-21T12:06:41.224659
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2024-11-29,123,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,55.07,withdrawal,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2996,2024-10-15,123,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,951.18,deposit,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2997,2024-12-10,123,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,659.31,deposit,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2998,2024-10-09,123,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,959.09,deposit,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427
2999,2024-10-11,123,Laura Palmer,2024-05-11,anthony.wilson@outlook.com,510.94,deposit,English,False,False,2024-05-13T12:06:41.223581,2024-12-21T12:06:41.224427

In [52]:
try:
    combined_df['transaction_date'] = pd.to_datetime(combined_df['transaction_date'], errors='coerce').dt.date
    combined_df['user_id'] = pd.to_numeric(combined_df['user_id'], errors='coerce').fillna(0).astype(int)
    combined_df['user_name'] = combined_df['user_name'].astype(str)
    combined_df['registration_date'] = pd.to_datetime(combined_df['registration_date'], errors='coerce').dt.date
    combined_df['email'] = combined_df['email'].astype(str)
    combined_df['transaction_amount'] = pd.to_numeric(combined_df['transaction_amount'], errors='coerce')
    combined_df['transaction_type'] = combined_df['transaction_type'].astype(str)
    combined_df['preferred_language'] = combined_df['preferred_language'].astype(str)
    combined_df['notifications_enabled'] = combined_df['notifications_enabled'].astype(bool)
    combined_df['marketing_opt_in'] = combined_df['marketing_opt_in'].astype(bool)
    combined_df['preference_created_at'] = pd.to_datetime(combined_df['preference_created_at'], errors='coerce')
    combined_df['preference_updated_at'] = pd.to_datetime(combined_df['preference_updated_at'], errors='coerce')
except Exception as e:
    raise ValueError(f"Error converting columns: {e}")

print(f"Cleaned Data Frame Preview: \n {combined_df.head()}")

Cleaned Data Frame Preview:
   transaction_date  user_id      user_name registration_date  \
0       2024-12-18      197  Tiffany Cooke        2024-06-12
1       2024-12-17      197  Tiffany Cooke        2024-06-12
2       2024-11-25      197  Tiffany Cooke        2024-06-12
3       2024-10-08      197  Tiffany Cooke        2024-06-12
4       2024-07-15      197  Tiffany Cooke        2024-06-12

                    email  transaction_amount transaction_type  \
0  pamela.chung@yahoo.com              876.06       withdrawal
1  pamela.chung@yahoo.com              153.34          deposit
2  pamela.chung@yahoo.com              706.74          deposit
3  pamela.chung@yahoo.com              840.22       withdrawal
4  pamela.chung@yahoo.com              612.90          deposit

  preferred_language  notifications_enabled  marketing_opt_in  \
0            English                   True             False
1            English                   True             False
2            English                   True             False
3            English                   True             False
4            English                   True             False

       preference_created_at      preference_updated_at
0 2024-03-14 12:06:41.224013 2024-12-21 12:06:41.224659
1 2024-03-14 12:06:41.224013 2024-12-21 12:06:41.224659
2 2024-03-14 12:06:41.224013 2024-12-21 12:06:41.224659
3 2024-03-14 12:06:41.224013 2024-12-21 12:06:41.224659
4 2024-03-14 12:06:41.224013 2024-12-21 12:06:41.224659

C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['transaction_date'] = pd.to_datetime(combined_df['transaction_date'], errors='coerce').dt.date
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['user_id'] = pd.to_numeric(combined_df['user_id'], errors='coerce').fillna(0).astype(int)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['user_name'] = combined_df['user_name'].astype(str)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['registration_date'] = pd.to_datetime(combined_df['registration_date'], errors='coerce').dt.date
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['email'] = combined_df['email'].astype(str)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['transaction_amount'] = pd.to_numeric(combined_df['transaction_amount'], errors='coerce')
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['transaction_type'] = combined_df['transaction_type'].astype(str)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['preferred_language'] = combined_df['preferred_language'].astype(str)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['notifications_enabled'] = combined_df['notifications_enabled'].astype(bool)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['marketing_opt_in'] = combined_df['marketing_opt_in'].astype(bool)
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['preference_created_at'] = pd.to_datetime(combined_df['preference_created_at'], errors='coerce')
C:\Users\PC10\AppData\Local\Temp\ipykernel_3504\2034709389.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['preference_updated_at'] = pd.to_datetime(combined_df['preference_updated_at'], errors='coerce')

In [15]:
# Initialize Faker with a seed for consistent results
fake = Faker()
fake.seed(4321)

In [16]:
def random_date(start_days_ago, end_days_ago):
    start_date = datetime.now() - timedelta(days=start_days_ago)
    end_date = datetime.now() - timedelta(days=end_days_ago)
    random_date = start_date + (end_date - start_date) * random.random()
    return random_date.date()

# Function to generate users
def generate_users(num_users):
    users = []
    for user_id in range(1, num_users + 1):
        users.append({
            "id": int(user_id),  # INT
            "name": str(fake.name()),  # STRING
            "registration_date": random_date(730, 0),  # DATE
            "email": str(fake.email()),  # STRING
        })
    return users

# Function to generate transactions
def generate_transactions(users, num_transactions):
    transactions = []
    for transaction_id in range(1, num_transactions + 1):
        user = random.choice(users)
        transactions.append({
            "id": int(transaction_id),  # INT
            "user_id": int(user["id"]),  # INT (FOREIGN KEY to Users)
            "transaction_date": random_date(180, 0),  # DATE (Last 6 months)
            "amount": float(round(random.uniform(10.0, 5000.0), 2)),  # FLOAT
            "type": str(random.choice(["deposit", "withdrawal"])),  # STRING
        })
    return transactions

# Function to generate user preferences
def generate_user_preferences(users, num_preferences):
    user_preferences = []
    for pref_id in range(1, num_preferences + 1):
        user = random.choice(users)
        user_preferences.append({
            "id": int(pref_id),  # INT (PRIMARY KEY)
            "user_id": int(user["id"]),  # INT (FOREIGN KEY to Users)
            "preferred_language": str(random.choice(["English", "Spanish", "French", "German"])),  # STRING
            "notifications_enabled": bool(random.choice([True, False])),  # BOOLEAN
            "marketing_opt_in": bool(random.choice([True, False])),  # BOOLEAN
            "created_at": random_date(365, 180),  # TIMESTAMP
            "updated_at": random_date(180, 0),  # TIMESTAMP
        })
    return user_preferences

In [12]:
num_users = random.randint(100, 200)
num_transactions = random.randint(1000, 3000)
num_preferences = random.randint(300, 500)

In [17]:
users = generate_users(num_users)
transactions = generate_transactions(users, num_transactions)
user_preferences = generate_user_preferences(users, num_preferences)

In [19]:
users_df = pd.DataFrame(users)
transactions_df = pd.DataFrame(transactions)
user_preferences_df = pd.DataFrame(user_preferences)

In [20]:
users_df

      id                   name registration_date                       email
0      1            Jason Brown        2024-12-02          daniel02@brown.biz
1      2         Sandra Griffin        2024-07-10              ismith@kim.com
2      3  Miss Christine Morgan        2023-06-27  olee@coleman-rodriguez.com
3      4            Cory Cooper        2024-06-20         randall75@park.info
4      5             Anne Davis        2023-11-10      brownkatelyn@gmail.com
..   ...                    ...               ...                         ...
147  148            Angela Byrd        2023-07-21     codyallison@hotmail.com
148  149              Kim Sharp        2024-09-16  sanchezjessica@hotmail.com
149  150       Jessica Phillips        2023-06-22     jasonwilliams@yahoo.com
150  151       Joshua Hoover MD        2023-11-25   christianweaver@gmail.com
151  152            David Lucas        2023-05-25   romeroamanda@stanley.info

[152 rows x 4 columns]

In [21]:
transactions_df

        id  user_id transaction_date   amount        type
0        1       63       2024-07-29  3857.13  withdrawal
1        2       46       2024-07-16  1857.70     deposit
2        3       91       2024-12-20  3382.64     deposit
3        4       87       2024-08-06  4721.36  withdrawal
4        5       88       2024-07-30  2575.28  withdrawal
...    ...      ...              ...      ...         ...
2880  2881       12       2024-08-05  1594.86  withdrawal
2881  2882      149       2024-09-11  3337.30     deposit
2882  2883       74       2024-08-06  2493.38     deposit
2883  2884       75       2024-10-08  2640.97     deposit
2884  2885      152       2024-11-16  1324.51     deposit

[2885 rows x 5 columns]

In [22]:
user_preferences_df

,id,user_id,preferred_language,notifications_enabled,marketing_opt_in,created_at,updated_at
0,1,86,French,False,True,2024-05-23,2024-10-17
1,2,1,Spanish,True,True,2024-04-27,2024-06-27
2,3,85,German,False,False,2024-05-01,2024-08-10
3,4,105,German,False,True,2023-12-27,2024-09-04
4,5,75,German,True,True,2024-05-13,2024-09-09
...,...,...,...,...,...,...,...
297,298,127,German,True,True,2024-06-05,2024-08-11
298,299,133,French,True,False,2024-03-10,2024-06-26
299,300,122,French,False,True,2024-04-17,2024-08-04
300,301,54,French,False,False,2024-04-11,2024-09-11
301,302,43,French,False,True,2024-01-08,2024-09-22

In [3]:
print(os.getenv('EMAIL_ADDRESS'))

alimurad7777@gmail.com